/node_modules
/src/templates
/src/fonts
/src/img
/src/svg
/src/js
!src/js/index.js
README.txt
/src/scss
!/src/scss/_pincode.scss
/build/js/lib.js
/build/js/lib.min.js
/build/js/main.js
/build/js/main.min.js