/node_modules
/src/templates
/src/fonts
/src/img
/src/svg
/src/js/components
/src/js/vendors
/src/js/lib.js
/src/js/main.js
!src/js/index.js
README.txt
/src/scss/base
/src/scss/components
/src/scss/global
/src/scss/pages
/src/scss/vendors
/src/scss/style.scss
/build/js/lib.js
/build/js/lib.min.js
/build/js/main.js
/build/js/main.min.js